In [1]:
import pandas as pd
import numpy as np

In [2]:
box_mojo_df = pd.read_csv('data/bom.movie_gross.csv')
numbers_df = pd.read_csv('data/tn.movie_budgets.csv')
title_basics_df = pd.read_csv('data/imdb.title.basics.csv')
name_basics_df = pd.read_csv('data/imdb.name.basics.csv')
crew_df = pd.read_csv('data/imdb.title.crew.csv')
principal_df = pd.read_csv('data/imdb.title.principals.csv')
ratings_df = pd.read_csv('data/imdb.title.ratings.csv')
tmdb_df = pd.read_csv('data/tmdb.movies.csv')
rt_df = pd.read_csv('data/rt.movie_info.tsv', delimiter='\t')

In [3]:
title_basics_df

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [4]:
tb_df = title_basics_df[['primary_title', 'start_year', 'runtime_minutes']]
tb_df

,primary_title,start_year,runtime_minutes
0,Sunghursh,2013,175.0
1,One Day Before the Rainy Season,2019,114.0
2,The Other Side of the Wind,2018,122.0
3,Sabse Bada Sukh,2018,NaN
4,The Wandering Soap Opera,2017,80.0
...,...,...,...
146139,Kuambil Lagi Hatiku,2019,123.0
146140,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN
146141,Dankyavar Danka,2013,NaN
146142,6 Gunn,2017,116.0
146143,Chico Albuquerque - Revelações,2013,NaN

In [5]:
tb_df.sort_values('start_year')

,primary_title,start_year,runtime_minutes
9599,Brainiacs in La La Land,2010,NaN
43264,Fireplace for your Home: Crackling Fireplace w...,2010,61.0
11550,Role/Play,2010,85.0
11551,Johan1,2010,78.0
11552,Hands Up,2010,90.0
...,...,...,...
2948,Untitled Star Wars Film,2024,NaN
52213,Avatar 4,2025,NaN
2949,Untitled Star Wars Film,2026,NaN
96592,Avatar 5,2027,NaN
89506,100 Years,2115,NaN

In [6]:
tb_df = tb_df[tb_df['start_year'] < 2022]

In [7]:
tb_df.isna().sum()

primary_title          0
start_year             0
runtime_minutes    31699
dtype: int64

In [8]:
tb_df = tb_df.dropna(axis=0, subset=['runtime_minutes'])
tb_df

,primary_title,start_year,runtime_minutes
0,Sunghursh,2013,175.0
1,One Day Before the Rainy Season,2019,114.0
2,The Other Side of the Wind,2018,122.0
4,The Wandering Soap Opera,2017,80.0
5,A Thin Life,2018,75.0
...,...,...,...
146135,The Rehearsal,2019,51.0
146136,Illenau - die Geschichte einer ehemaligen Heil...,2017,84.0
146137,Safeguard,2019,90.0
146139,Kuambil Lagi Hatiku,2019,123.0
146142,6 Gunn,2017,116.0

In [9]:
numbers_df

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [10]:
numbers_df['release_date'] = pd.to_datetime(numbers_df['release_date'])
numbers_df['release_year'] = numbers_df['release_date'].dt.year

In [11]:
numbers_df = numbers_df.drop('release_date', 1)
numbers_df

,id,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,1,Avatar,"$425,000,000","$760,507,625","$2,776,345,279",2009
1,2,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011
2,3,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019
3,4,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",2015
4,5,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",2017
...,...,...,...,...,...,...
5777,78,Red 11,"$7,000",$0,$0,2018
5778,79,Following,"$6,000","$48,482","$240,495",1999
5779,80,Return to the Land of Wonders,"$5,000","$1,338","$1,338",2005
5780,81,A Plague So Pleasant,"$1,400",$0,$0,2015
5781,82,My Date With Drew,"$1,100","$181,041","$181,041",2005

In [12]:
numbers_df['movie'] = numbers_df['movie'].str.title()

In [13]:
tb_df['primary_title'] = tb_df['primary_title'].str.title()

In [62]:
numbers_df['movie'].str.isalpha().sum()

1170

In [72]:
numbers_and_tb = numbers_df.merge(tb_df,left_on=['movie', 'release_year'],right_on=['primary_title', 'start_year'],how='inner')
numbers_and_tb.head(25)

,id,movie,production_budget,domestic_gross,worldwide_gross,release_year,primary_title,start_year,runtime_minutes
0,2,Pirates Of The Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011,Pirates Of The Caribbean: On Stranger Tides,2011,136.0
1,3,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019,Dark Phoenix,2019,113.0
2,4,Avengers: Age Of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",2015,Avengers: Age Of Ultron,2015,141.0
3,7,Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200",2018,Avengers: Infinity War,2018,149.0
4,9,Justice League,"$300,000,000","$229,024,295","$655,945,209",2017,Justice League,2017,120.0
5,10,Spectre,"$300,000,000","$200,074,175","$879,620,923",2015,Spectre,2015,148.0
6,11,The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099",2012,The Dark Knight Rises,2012,164.0
7,12,Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347",2018,Solo: A Star Wars Story,2018,135.0
8,13,The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115",2013,The Lone Ranger,2013,150.0
9,14,John Carter,"$275,000,000","$73,058,679","$282,778,100",2012,John Carter,2012,132.0
10,15,Tangled,"$260,000,000","$200,821,936","$586,477,240",2010,Tangled,2010,100.0
11,17,Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413",2016,Captain America: Civil War,2016,147.0
12,18,Batman V Superman: Dawn Of Justice,"$250,000,000","$330,360,194","$867,500,281",2016,Batman V Superman: Dawn Of Justice,2016,151.0
13,19,The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568",2012,The Hobbit: An Unexpected Journey,2012,169.0
14,21,The Hobbit: The Desolation Of Smaug,"$250,000,000","$258,366,855","$960,366,855",2013,The Hobbit: The Desolation Of Smaug,2013,161.0
15,22,The Hobbit: The Battle Of The Five Armies,"$250,000,000","$255,119,788","$945,577,621",2014,The Hobbit: The Battle Of The Five Armies,2014,144.0
16,23,The Fate Of The Furious,"$250,000,000","$225,764,765","$1,234,846,267",2017,The Fate Of The Furious,2017,136.0
17,25,Pirates Of The Caribbean: Dead Men Tell No Tales,"$230,000,000","$172,558,876","$788,241,137",2017,Pirates Of The Caribbean: Dead Men Tell No Tales,2017,129.0
18,27,The Avengers,"$225,000,000","$623,279,547","$1,517,935,897",2012,The Avengers,2012,143.0
19,29,Man Of Steel,"$225,000,000","$291,045,518","$667,999,518",2013,Man Of Steel,2013,143.0
20,31,The Amazing Spider-Man,"$220,000,000","$262,030,663","$757,890,267",2012,The Amazing Spider-Man,2012,136.0
21,32,Battleship,"$220,000,000","$65,233,400","$313,477,717",2012,Battleship,2012,131.0
22,33,Transformers: The Last Knight,"$217,000,000","$130,168,683","$602,893,340",2017,Transformers: The Last Knight,2017,154.0
23,34,Jurassic World,"$215,000,000","$652,270,625","$1,648,854,864",2015,Jurassic World,2015,124.0
24,35,Men In Black 3,"$215,000,000","$179,020,854","$654,213,485",2012,Men In Black 3,2012,106.0

In [69]:
numbers_and_tb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1564 entries, 0 to 1563
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 1564 non-null   int64
 1   movie              1564 non-null   object
 2   production_budget  1564 non-null   object
 3   domestic_gross     1564 non-null   int64
 4   worldwide_gross    1564 non-null   object
 5   release_year       1564 non-null   int64
 6   primary_title      1564 non-null   object
 7   start_year         1564 non-null   int64
 8   runtime_minutes    1564 non-null   float64
dtypes: float64(1), int64(4), object(4)
memory usage: 122.2+ KB

In [75]:
numbers_and_tb['domestic_gross'] = numbers_and_tb['domestic_gross'].replace(',', '', regex=True)
numbers_and_tb['production_budget'] = numbers_and_tb['production_budget'].replace(',', '', regex=True)
numbers_and_tb['worldwide_gross'] = numbers_and_tb['worldwide_gross'].replace(',', '', regex=True)
numbers_and_tb

,id,movie,production_budget,domestic_gross,worldwide_gross,release_year,primary_title,start_year,runtime_minutes
0,2,Pirates Of The Caribbean: On Stranger Tides,$410600000,$241063875,$1045663875,2011,Pirates Of The Caribbean: On Stranger Tides,2011,136.0
1,3,Dark Phoenix,$350000000,$42762350,$149762350,2019,Dark Phoenix,2019,113.0
2,4,Avengers: Age Of Ultron,$330600000,$459005868,$1403013963,2015,Avengers: Age Of Ultron,2015,141.0
3,7,Avengers: Infinity War,$300000000,$678815482,$2048134200,2018,Avengers: Infinity War,2018,149.0
4,9,Justice League,$300000000,$229024295,$655945209,2017,Justice League,2017,120.0
...,...,...,...,...,...,...,...,...,...
1559,49,Exeter,$25000,$0,$489792,2015,Exeter,2015,91.0
1560,49,Exeter,$25000,$0,$489792,2015,Exeter,2015,92.0
1561,52,Dutch Kills,$25000,$0,$0,2015,Dutch Kills,2015,90.0
1562,59,The Ridges,$17300,$0,$0,2011,The Ridges,2011,89.0
1563,62,Stories Of Our Lives,$15000,$0,$0,2014,Stories Of Our Lives,2014,60.0

In [ ]:
numbers_and_tb['domestic_gross'] = pd.to_numeric(numbers_and_tb['domestic_gross'])

In [57]:
numbers_and_tb.loc[numbers_and_tb['domestic_gross'] > 0]

,id,movie,production_budget,domestic_gross,worldwide_gross,release_year,primary_title,start_year,runtime_minutes
0,2,Pirates Of The Caribbean: On Stranger Tides,"$410,600,000",241063875,"$1,045,663,875",2011,Pirates Of The Caribbean: On Stranger Tides,2011,136.0
1,3,Dark Phoenix,"$350,000,000",42762350,"$149,762,350",2019,Dark Phoenix,2019,113.0
2,4,Avengers: Age Of Ultron,"$330,600,000",459005868,"$1,403,013,963",2015,Avengers: Age Of Ultron,2015,141.0
3,7,Avengers: Infinity War,"$300,000,000",678815482,"$2,048,134,200",2018,Avengers: Infinity War,2018,149.0
4,9,Justice League,"$300,000,000",229024295,"$655,945,209",2017,Justice League,2017,120.0
...,...,...,...,...,...,...,...,...,...
1544,4,Happy Christmas,"$70,000",30312,"$30,312",2014,Happy Christmas,2014,82.0
1549,18,Tiny Furniture,"$50,000",391674,"$424,149",2010,Tiny Furniture,2010,98.0
1550,20,Counting,"$50,000",8374,"$8,374",2015,Counting,2015,111.0
1554,32,Raymond Did It,"$40,000",3632,"$3,632",2011,Raymond Did It,2011,83.0
1558,45,Emily,"$27,000",3547,"$3,547",2017,Emily,2017,83.0

In [64]:
numbers_and_tb['runtime_minutes'].mean()

106.70843989769821

In [65]:
numbers_and_tb['production_budget'].mean()

TypeError: Could not convert $410,600,000$350,000,000$330,600,000$300,000,000$300,000,000$300,000,000$275,000,000$275,000,000$275,000,000$275,000,000$260,000,000$250,000,000$250,000,000$250,000,000$250,000,000$250,000,000$250,000,000$230,000,000$225,000,000$225,000,000$220,000,000$220,000,000$217,000,000$215,000,000$215,000,000$210,000,000$210,000,000$200,000,000$200,000,000$200,000,000$200,000,000$200,000,000$200,000,000$200,000,000$200,000,000$200,000,000$200,000,000$200,000,000$200,000,000$200,000,000$200,000,000$200,000,000$200,000,000$200,000,000$195,000,000$195,000,000$195,000,000$190,000,000$190,000,000$190,000,000$190,000,000$190,000,000$187,500,000$185,000,000$185,000,000$185,000,000$185,000,000$182,000,000$180,000,000$180,000,000$180,000,000$180,000,000$180,000,000$180,000,000$179,000,000$178,000,000$178,000,000$178,000,000$175,000,000$175,000,000$175,000,000$175,000,000$175,000,000$175,000,000$175,000,000$175,000,000$175,000,000$175,000,000$175,000,000$170,000,000$170,000,000$170,000,000$170,000,000$170,000,000$170,000,000$170,000,000$170,000,000$170,000,000$170,000,000$170,000,000$165,000,000$165,000,000$165,000,000$165,000,000$165,000,000$165,000,000$165,000,000$160,000,000$160,000,000$160,000,000$160,000,000$160,000,000$160,000,000$160,000,000$160,000,000$156,000,000$155,000,000$155,000,000$152,000,000$150,000,000$150,000,000$150,000,000$150,000,000$150,000,000$150,000,000$150,000,000$150,000,000$150,000,000$150,000,000$150,000,000$150,000,000$150,000,000$150,000,000$150,000,000$150,000,000$150,000,000$150,000,000$145,000,000$145,000,000$145,000,000$145,000,000$144,000,000$140,000,000$140,000,000$140,000,000$140,000,000$140,000,000$140,000,000$135,000,000$135,000,000$135,000,000$135,000,000$135,000,000$135,000,000$132,900,000$132,000,000$130,000,000$130,000,000$130,000,000$130,000,000$130,000,000$130,000,000$130,000,000$130,000,000$130,000,000$130,000,000$130,000,000$130,000,000$130,000,000$130,000,000$130,000,000$130,000,000$129,000,000$127,000,000$127,000,000$125,000,000$125,000,000$125,000,000$125,000,000$125,000,000$125,000,000$125,000,000$125,000,000$125,000,000$125,000,000$125,000,000$120,000,000$120,000,000$120,000,000$120,000,000$120,000,000$120,000,000$120,000,000$120,000,000$117,000,000$116,000,000$115,000,000$112,000,000$111,000,000$110,000,000$110,000,000$110,000,000$110,000,000$110,000,000$110,000,000$110,000,000$110,000,000$110,000,000$110,000,000$110,000,000$110,000,000$110,000,000$108,000,000$106,000,000$105,000,000$104,000,000$103,000,000$102,000,000$102,000,000$100,000,000$100,000,000$100,000,000$100,000,000$100,000,000$100,000,000$100,000,000$100,000,000$100,000,000$100,000,000$100,000,000$100,000,000$100,000,000$100,000,000$100,000,000$100,000,000$100,000,000$100,000,000$99,000,000$99,000,000$99,000,000$97,000,000$95,000,000$95,000,000$95,000,000$95,000,000$95,000,000$95,000,000$95,000,000$95,000,000$93,000,000$92,000,000$91,000,000$90,000,000$90,000,000$90,000,000$90,000,000$90,000,000$90,000,000$90,000,000$90,000,000$90,000,000$90,000,000$90,000,000$90,000,000$90,000,000$90,000,000$88,000,000$85,000,000$85,000,000$85,000,000$85,000,000$85,000,000$85,000,000$85,000,000$85,000,000$85,000,000$85,000,000$84,000,000$84,000,000$82,000,000$80,000,000$80,000,000$80,000,000$80,000,000$80,000,000$80,000,000$80,000,000$80,000,000$80,000,000$80,000,000$80,000,000$80,000,000$80,000,000$80,000,000$80,000,000$80,000,000$79,000,000$79,000,000$78,000,000$77,000,000$76,000,000$75,000,000$75,000,000$75,000,000$75,000,000$75,000,000$75,000,000$75,000,000$75,000,000$75,000,000$75,000,000$75,000,000$74,000,000$74,000,000$73,000,000$70,000,000$70,000,000$70,000,000$70,000,000$70,000,000$70,000,000$70,000,000$70,000,000$70,000,000$70,000,000$70,000,000$70,000,000$70,000,000$69,000,000$69,000,000$69,000,000$68,000,000$68,000,000$68,000,000$68,000,000$67,500,000$66,000,000$65,000,000$65,000,000$65,000,000$65,000,000$65,000,000$65,000,000$65,000,000$65,000,000$65,000,000$65,000,000$65,000,000$65,000,000$65,000,000$65,000,000$65,000,000$63,000,000$63,000,000$62,000,000$61,000,000$61,000,000$61,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$60,000,000$59,000,000$59,000,000$58,000,000$58,000,000$58,000,000$58,000,000$58,000,000$58,000,000$57,500,000$57,500,000$56,200,000$55,000,000$55,000,000$55,000,000$55,000,000$55,000,000$55,000,000$55,000,000$55,000,000$55,000,000$55,000,000$55,000,000$55,000,000$55,000,000$55,000,000$55,000,000$53,000,000$52,500,000$52,000,000$52,000,000$52,000,000$51,000,000$50,200,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$50,000,000$49,000,000$49,000,000$48,000,000$48,000,000$47,500,000$47,000,000$47,000,000$46,500,000$46,000,000$45,000,000$45,000,000$45,000,000$45,000,000$45,000,000$45,000,000$45,000,000$45,000,000$45,000,000$45,000,000$45,000,000$45,000,000$45,000,000$45,000,000$45,000,000$45,000,000$44,500,000$44,000,000$44,000,000$43,000,000$42,500,000$42,000,000$42,000,000$42,000,000$42,000,000$42,000,000$42,000,000$42,000,000$42,000,000$41,000,000$41,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$40,000,000$39,000,000$38,000,000$38,000,000$38,000,000$38,000,000$38,000,000$38,000,000$38,000,000$38,000,000$38,000,000$38,000,000$38,000,000$37,500,000$37,500,000$37,000,000$37,000,000$37,000,000$37,000,000$37,000,000$37,000,000$37,000,000$37,000,000$37,000,000$36,000,000$36,000,000$36,000,000$36,000,000$36,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$35,000,000$34,800,000$34,000,000$34,000,000$34,000,000$34,000,000$33,000,000$33,000,000$33,000,000$33,000,000$32,500,000$32,500,000$32,500,000$32,000,000$32,000,000$32,000,000$32,000,000$32,000,000$32,000,000$32,000,000$32,000,000$32,000,000$31,500,000$31,000,000$31,000,000$31,000,000$31,000,000$31,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$30,000,000$29,000,000$29,000,000$29,000,000$29,000,000$29,000,000$28,000,000$28,000,000$28,000,000$28,000,000$28,000,000$28,000,000$28,000,000$28,000,000$28,000,000$28,000,000$28,000,000$28,000,000$28,000,000$28,000,000$28,000,000$28,000,000$28,000,000$28,000,000$27,500,000$27,500,000$27,000,000$27,000,000$26,000,000$26,000,000$26,000,000$26,000,000$26,000,000$26,000,000$26,000,000$26,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$25,000,000$24,200,000$24,000,000$24,000,000$24,000,000$24,000,000$24,000,000$24,000,000$24,000,000$24,000,000$23,000,000$23,000,000$23,000,000$23,000,000$23,000,000$23,000,000$23,000,000$23,000,000$22,500,000$22,000,000$22,000,000$22,000,000$22,000,000$22,000,000$22,000,000$22,000,000$22,000,000$22,000,000$22,000,000$22,000,000$22,000,000$22,000,000$22,000,000$21,500,000$21,000,000$21,000,000$21,000,000$21,000,000$21,000,000$21,000,000$21,000,000$21,000,000$21,000,000$21,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$20,000,000$19,800,000$19,500,000$19,200,000$19,100,000$19,000,000$19,000,000$19,000,000$19,000,000$19,000,000$19,000,000$19,000,000$19,000,000$19,000,000$19,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$18,000,000$17,700,000$17,500,000$17,000,000$17,000,000$17,000,000$17,000,000$17,000,000$17,000,000$17,000,000$17,000,000$17,000,000$17,000,000$16,800,000$16,000,000$16,000,000$16,000,000$16,000,000$16,000,000$16,000,000$16,000,000$16,000,000$16,000,000$16,000,000$16,000,000$16,000,000$16,000,000$15,700,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$15,000,000$14,500,000$14,000,000$14,000,000$14,000,000$14,000,000$14,000,000$14,000,000$14,000,000$14,000,000$13,500,000$13,200,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$13,000,000$12,800,000$12,800,000$12,600,000$12,500,000$12,500,000$12,500,000$12,500,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$12,000,000$11,800,000$11,500,000$11,000,000$11,000,000$11,000,000$11,000,000$11,000,000$11,000,000$11,000,000$11,000,000$11,000,000$11,000,000$11,000,000$10,600,000$10,100,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$10,000,000$9,900,000$9,700,000$9,500,000$9,500,000$9,400,000$9,200,000$9,200,000$9,100,000$9,000,000$9,000,000$9,000,000$9,000,000$9,000,000$9,000,000$9,000,000$9,000,000$9,000,000$9,000,000$8,900,000$8,900,000$8,500,000$8,500,000$8,500,000$8,500,000$8,500,000$8,500,000$8,500,000$8,500,000$8,470,000$8,300,000$8,000,000$8,000,000$8,000,000$8,000,000$8,000,000$8,000,000$8,000,000$8,000,000$8,000,000$8,000,000$8,000,000$8,000,000$8,000,000$8,000,000$8,000,000$8,000,000$8,000,000$8,000,000$8,000,000$8,000,000$7,500,000$7,500,000$7,500,000$7,400,000$7,000,000$7,000,000$7,000,000$7,000,000$7,000,000$7,000,000$7,000,000$7,000,000$7,000,000$7,000,000$7,000,000$7,000,000$7,000,000$7,000,000$7,000,000$7,000,000$7,000,000$7,000,000$6,900,000$6,800,000$6,500,000$6,500,000$6,500,000$6,500,000$6,000,000$6,000,000$6,000,000$6,000,000$6,000,000$6,000,000$6,000,000$6,000,000$6,000,000$6,000,000$6,000,000$6,000,000$6,000,000$6,000,000$5,800,000$5,600,000$5,600,000$5,500,000$5,500,000$5,500,000$5,500,000$5,200,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$5,000,000$4,900,000$4,800,000$4,750,000$4,700,000$4,500,000$4,500,000$4,500,000$4,500,000$4,500,000$4,500,000$4,500,000$4,500,000$4,200,000$4,200,000$4,000,000$4,000,000$4,000,000$4,000,000$4,000,000$4,000,000$4,000,000$4,000,000$4,000,000$4,000,000$4,000,000$4,000,000$4,000,000$4,000,000$4,000,000$4,000,000$4,000,000$3,750,000$3,500,000$3,500,000$3,500,000$3,500,000$3,500,000$3,500,000$3,500,000$3,500,000$3,500,000$3,400,000$3,300,000$3,200,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$3,000,000$2,900,000$2,700,000$2,700,000$2,500,000$2,500,000$2,500,000$2,500,000$2,500,000$2,500,000$2,500,000$2,500,000$2,500,000$2,500,000$2,500,000$2,500,000$2,500,000$2,450,000$2,400,000$2,300,000$2,300,000$2,300,000$2,100,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$2,000,000$1,987,650$1,900,000$1,900,000$1,900,000$1,900,000$1,900,000$1,800,000$1,800,000$1,800,000$1,800,000$1,800,000$1,750,000$1,700,000$1,600,000$1,600,000$1,500,000$1,500,000$1,500,000$1,500,000$1,500,000$1,500,000$1,500,000$1,500,000$1,500,000$1,500,000$1,500,000$1,500,000$1,500,000$1,400,000$1,400,000$1,400,000$1,250,000$1,200,000$1,200,000$1,200,000$1,200,000$1,200,000$1,100,000$1,100,000$1,100,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$1,000,000$913,000$900,000$900,000$900,000$900,000$900,000$850,000$800,000$750,000$750,000$750,000$700,000$700,000$650,000$650,000$650,000$650,000$625,000$625,000$600,000$600,000$600,000$560,000$560,000$500,000$500,000$500,000$500,000$500,000$500,000$500,000$500,000$500,000$500,000$500,000$450,000$400,000$350,000$300,000$300,000$300,000$300,000$300,000$290,000$270,000$250,000$250,000$250,000$250,000$250,000$250,000$250,000$250,000$250,000$250,000$225,000$200,000$200,000$200,000$200,000$190,000$190,000$190,000$175,000$175,000$150,000$150,000$125,000$100,000$100,000$100,000$100,000$100,000$75,000$70,000$70,000$70,000$60,000$55,000$50,000$50,000$50,000$45,000$42,000$40,000$40,000$35,000$30,000$27,000$25,000$25,000$25,000$17,300$15,000 to numeric